<%= currently_at('Edit Question')%>
<%= render 'shared/errors', object: @answer %>
<div class="question-show" >
  <h2 class="question-show__title title"><%= @question.title %></h2>
  <div class="question-show__text"><%= sanitize @question.body %></div>
  <div class="question-show__links">
      <%= link_to 'Edit', edit_question_path(@question), class: 'question-show__link question-show__link_edit' %>
      <%= link_to 'Delete', question_path(@question), class: 'question-show__link question-show__link_delete', data: {method: :delete, confirm: 'Are you sure?' }%>
  </div>
  
  <% if @question.answers.any?%>
      <%= render 'answers/index' %>
  <% else %>
    <div class="question-show__seal"></div>
  <% end %>
   <div class="answers-question__form">

      <%= form_with model: [@question, @answer], html: {class: 'form' } do |f| %>

        <div class="form__line">
          <div class="form__wrapper">
            <%= f.label :body, 'Enter Answer', class: 'form__label' %>
          </div>
          <div class="form__wrapper">
            <%= f.text_area :body, class: 'form__text' %>
          </div>
        </div>
        <div class="form__line">
          <%= f.submit 'Submit', class: 'form__button' %>
        </div>

      <% end %>
  
  </div>

</div>




    

  



