<%= render 'shared/errors', object: @user %>

<%= form_with model: @user, html: { class: 'form form_reg' } do |f| %>
  <div class="form__line">
    <%= f.label :email,'E-mail', class: 'form__label'%>
    <%= f.text_field :email, placeholder: 'Enter your E-mail', class: 'form__input' %>
  </div>

  <div class="form__line">
    <%= f.label :name,'Name', class: 'form__label'%>
    <%= f.text_field :name, placeholder: 'Enter your name', class: 'form__input' %>
  </div>
  <% unless @user.new_record? %>
    <div class="form__line">
      <div class="form__wrapper">
        <%= f.label :old_password, 'Old Password', class: 'form__label' %>
      </div>
      <div class="form__wrapper">
        <%= f.password_field :old_password, placeholder: 'Enter your old password', class: 'form__input' %>
      </div>
    </div>
  <% end %>
  <div class="form__line">
    <div class="form__wrapper">
      <%= f.label :password, 'Password', class: 'form__label' %>
    </div>
    <div class="form__wrapper">
      <%= f.password_field :password, placeholder: (@user.new_record? ? 'Enter password' : 'Enter new password'), class: 'form__input' %>
    </div>
  </div>

   <div class="form__line">
    <div class="form__wrapper">
      <%= f.label :password_confirmation, 'Password Confirmation', class: 'form__label' %>
    </div>
    <div class="form__wrapper">
      <%= f.password_field :password_confirmation, placeholder: (@user.new_record? ? 'Confirm password' : 'Confirm new password'), class: 'form__input' %>
    </div>
  </div>

  <div class="form__line">
    <%= f.submit (@user.new_record? ? 'Register' : 'Update data'), class: 'form__button' %>
  </div>

<% end %>