<% provide :title, 'Questions'%>


<div class="question-show__answers answers-question">
  <h2 class="title">Answers</h2>

  <%= render partial: 'answers/answer', collection: @answers, as: :answer, locals: {question: @question} %>
  
  <div class="line"></div>

  <%= render 'shared/errors', object: @answer %>

  <div class="answers-question__form">

      <%= form_with model: [@question, @answer], html: {class: 'form' } do |f| %>

        <div class="form__line">
          <div class="form__wrapper">
            <%= f.label :body, 'Enter Answer', class: 'form__label' %>
          </div>
          <div class="form__wrapper">
            <%= f.text_area :body, class: 'form__text' %>
          </div>
        </div>
        <div class="form__line">
          <%= f.submit 'Submit', class: 'form__button' %>
        </div>

      <% end %>

  </div>


</div>
