<tr class="row">
  <th class="table-admin-users__cell"><%= user.id %></th>
  <td class="table-admin-users__cell"><%= user.name %></td>
  <td class="table-admin-users__cell"><%= user.email %></td>
  <td class="table-admin-users__cell"><%= user.created_at %></td>
  <td class="table-admin-users__cell"><%= user.updated_at %></td>
</tr>