<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield :main_menu %>
    <main class="main">
      <div class="main__container">
        <%= render 'shared/flash' %>
        <%= yield %>
      </div>
    </main>
    <footer class="footer">
      <div class="header__container">
        <p class="footer__text">&copy; Vit Poll, <%= Time.now.year %></p>
      </div>
    </footer>
  </body>
</html>
